:root {
    --color-primary: #4B69FD;
    --color-secondary: #FFF9EB;
    --color-tertiary: #C4C4C4;
    --color-button: #fe652b;
    --color-button-hover: #e55720;
    --color-text: #444444;
    --color-white: #FFFFFF;
    --img-button-draw: url("./assets/play_circle_outline.png");
}

/* Estilos gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* responsive*/
.responsive {
    width: 100%;
    max-width: 400px;
    height: auto;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -60px;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

.flex-container {
    display: flex;
    flex-direction: row;
}

/* mobile e telas menores*/
@media screen and (max-width: 800px) {
    .main-content {
        overflow: none;
    }

    /*
    header h1 {
        float: center;
        display: flex;
        text-align: center;
        font-size: 1em;
    }

    header img {
        width: 100%;
        max-width: 200;
        height: auto;
    }
*/
    .button-add {
        width: 100%;
        padding-left: 20%;


    }

    .button-add::before{
        justify-content: center !important;
        vertical-align: middle !important;
        padding-left: 0 !important;
        display: inline;
        margin-left: 0 !important;
        position: relative;
        font-weight: 900;
    }

    .button-add::after {
        content: ""!important;
        position: absolute !important;
        width: 0 !important;
        /*
        width: 20px;
        height:fit-content;
        display: inline-block;*/
    }

    /* Banner */
    .header-banner {
        overflow: none;
        flex: 40%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem 0 0;
    }

    .main-title {
        display: block;
        width: 100%;
        font-size: 2.5em !important;
        float: center;
        text-align: center;
    }

    /* imagem header*/
    .header-banner img {
        overflow: hidden;
        width: 100%;
        max-width: 200px;
        height: auto;
    }



    
    /* Seção de entrada */
    .input-section {
        overflow: none;
        flex: 60%;
        background-color: var(--color-secondary);
        border: 1px solid #000;
        border-radius: 4em 4em 0 0 !important;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1em;
        width: 100%;
    }

    .section-title {
        font-family: "Inter", serif;
        font-size: 1em !important;
        font-weight: 700;
        color: var(--color-primary);
        text-align: center;
    }


    .result-list {
        margin-top: 0.8em !important;
        color: #05DF05 !important;
        font-size: 1.2em !important;
        font-weight: bold;
        text-align: left;
    }
}

/*----------------------------*/

body {
    height: 100vh;
    background-color: var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

/* Banner */
.header-banner {
    flex: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0 0;
    /* erro rem*/
}

/* Seção de entrada */
.input-section {
    flex: 60%;
    background-color: var(--color-secondary);
    border: 1px solid #000;
    border-radius: 64px 64px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
}

/* Títulos */
.main-title {
    font-size: 3em;
    /*48px */
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: italic;
    color: var(--color-white);
}

.section-title {
    font-family: "Inter", serif;
    font-size: 36px;
    font-weight: 700;
    color: var(--color-primary);
    margin: 10px 0;
    text-align: center;
}

/* Contêineres de entrada e botão */
.input-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    margin-top: 20px;
}

.input-name {
    width: 100%;
    padding: 10px;
    border: 2px solid #000;
    border-radius: 25px 0 0 25px;
    font-size: 16px;
}

.button-container {
    width: 300px;
    justify-content: center;
}

/* Estilos de entrada de texto */
.input-title {
    flex: 1;
    padding: 10px 15px;
    font-size: 1, 2rem;
    border: 2px solid #333;
    border-right: none;
    border-radius: 25px 0 0 25px;
    font-family: "Merriweather", serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Estilos de botão */
button {
    padding: 15px 30px;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    border: 2px solid #000;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.button-add {
    background-color: var(--color-tertiary);
    color: var(--color-text);
    border-radius: 0 25px 25px 0;
}

/*adicionar icone no button-add*/
.button-add::before {
    font-family: "Font Awesome 5 Free";
    content: "\f234";
    display: inline;
    margin-left: -1rem;
    position: relative;
    vertical-align: middle;
    font-weight: 900;
    /*
    width: 20px;
    height:fit-content;
    display: inline-block;*/
}

/* adicionar texto no button-add */
.button-add::after {
    content: "Adicionar";
    position: relative;
    vertical-align: auto;
    padding-left: 10px;
    /*
    width: 20px;
    height:fit-content;
    display: inline-block;*/
}

.button-add:hover {
    background-color: #a1a1a1;
}

/* Listas */
ul {
    list-style-type: none;
    color: var(--color-text);
    font-family: "Inter", sans-serif;
    font-size: 18px;
    margin: 20px 0;
    justify-content: left;
    /* text-transform: capitalize;*/
}

.result-list {
    margin-top: 15px;
    color:green;
    font-size: 22px;
    font-weight: bold;
    text-align: left;
}

.name-list {
    width: 15em;
    color: crimson;
    text-align: left;
}

/* Botão de sortear título */
.button-draw {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 40px;
    color: var(--color-white);
    background-color: var(--color-button);
    font-size: 16px;
}

/*
@supports (content: "x" / "y") {
padroniza imagem no button-draw
    .button-draw::before {
         content:url("assets/play_circle_outline.png");
        content: url("assets/play_circle_outline.pg")/'<span class="aria-hidden"> Info:</span>';
        alt: "Icone sortear";
        display: inline;
        margin-left: -1px;
        position: relative;
        vertical-align: middle;
    }
}

@supports not (content: "x" / "y") { */

/* padroniza imagem no button-draw*/
.button-draw::before {
    /* content:url("assets/play_circle_outline.png");*/
    content: var(--img-button-draw, "icone");
    alt: "Icone sortear";
    display: inline;
    margin-left: -1px;
    position: relative;
    vertical-align: middle;
}


/* adicionar texto no button-draw */
.button-draw::after {
    content: "Sortear amigo";
    position: relative;
    vertical-align: center;
    padding-left: 50px;

    /*
    width: 20px;
    height:fit-content;
    display: inline-block;*/
}

.button-draw img {
    margin-right: 40px;
}

.button-draw:hover {
    background-color: var(--color-button-hover);
}


.msg {
    display: none;
    background-color: yellow;
    color: red;
    padding: 5px;
    margin-top: 5px;
    position:absolute;
    text-align: center;
    z-index: 2;
    
  }
  .animacao{
  animation: mymove 5s;
  }

.hidden{
    display: none;
}
.animation
{
    transition: opacity 1s ease-in-out;
}

@keyframes mymove {
    50% {opacity: 0;}
  }
/*
  .mensagem .msg {
    display: none;
  }
  */